/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Estilos del header */
  header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #f00;
  }
  
  /* Estilos del contenido principal */
  main {
    background-image: url("fondo1.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 50px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  section {
    margin-bottom: 50px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f00;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
  }
  
  a:hover {
    background-color: #fff;
    color: #f00;
  }
  
  /* Estilos del footer */
  footer {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
  }
  