/*NOTAS Y SOBRAS
{
    border: solid rgb(0, 0, 0) 1px;
}
/**/
/* selector { propiedad : valor ; }*/
/* parrafo principal{ color: rgb(0, 34, 255)}
/* si la etiqueta html tiene un ID, le pongo un # en css.*/
/* Si la etiqueta html tiene un class, le pongo . en css*/
/*
#personalizar{color: #f3b229;}
#slogan{color: #f3b229;}
#slogan{font-size: 2vw;}
#titular{
    font-size: 5vw;
    margin-top: 90px;
}
#titular{color: #f3b229;}
#titular{font-family: 'Courier New', Courier, monospace;}
#titular{text-align: center;}
#primer_id{font-size: 1vw;}
#primer_id{font-family: Arial, Helvetica, sans-serif;
    columns: 20cqh;
}
#titular{padding-left: 10px;}
#titular{padding: 10px 0 0 10px;}
#primer_id{margin: 40px;}
*/

/* Tamaño mobile */

@media only screen and (max-width: 1220px) {
/* Header */
#header {
background-color: #ffffff;
height: 100px;
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
position: fixed;
width: 100%;
top: 0%;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
display: block;
height: fit-content;
width: fit-content;
}

#logoimg{
width: 260px;
height: 100px;
}

nav ul {

list-style: none;
margin: 0;
padding: 0;
display: flex;

}

nav li {
margin-left: 20px;

}
/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
nav a {
color: #333;
text-decoration: none;
font-weight: bold;
font-size: 16px;
text-transform: uppercase;

}

nav a:hover:not(.boton-encontra) {
color: #007bff;
}
.na{
  display: none;
}
.boton-encontra:hover{
  color: #000000;
}

.boton-encontra {
background-color: #007bff;
color: #fff;
padding: 10px 20px;
border-radius: 5px;
font-size: 16px;
text-transform: uppercase;
text-decoration: none;
margin-right: 1rem;
}
/* body */

body{margin: 0px;
  background-color: #f2f2f2;

}

p{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 30px;
}

.intro {
  background-image: url("21960.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.intro h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.intro p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.boton-explorar {
  background-color: #ffffff;
  color: #333333;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-decoration: none;
  border: 2px solid #333333;
}

.boton-explorar:hover {
  background-color: #333333;
  color: #ffffff;
}
/* busqueda */
.busqueda {
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: 5rem;
}

.busqueda .container {
  max-width: 800px;
  margin: 0 auto;
}

.busqueda h1 {
  text-align: center;
}

.busqueda label {
  display: block;
  margin-bottom: 10px;
}

.busqueda select,
.busqueda button {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

.busqueda button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.busqueda button:hover {
  background-color: #0056b3;
}

/*consola */
.busqueda .console {
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  margin-top: 30px;
  font-family: Consolas, monospace;
  font-size: 14px;
}

/* chamuyo */
.chamuyos {
  background-color: #f2f2f2;
  padding: 4rem 0;
  text-align: center;
}

.chamuyos h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.chamuyo {
  margin-bottom: 4rem;
}

.chamuyo img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.chamuyo h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.chamuyo p {
  font-size: 1.2rem;
}

/* Clientes */
.clientes {
  background-color: #ffffff;
  padding: 4rem 0;
  text-align: center;
}

.clientes h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.cliente {
  margin-bottom: 4rem;
}

.cliente img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.cliente p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.cliente cite {
  font-style: italic;
  font-weight: 500;
}
/* Footer*/
#footer{
  height: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  margin-bottom: 2rem;
  width: 100%;
  bottom: 0%;
  display: none;
  justify-content: space-between;
}
}

/* Tamaño compu */

@media only screen and (min-width: 1220px) {
/* Header */
#header {
background-color: #ffffff;
height: 100px;
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
position: fixed;
width: 100%;
top: 0%;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
display: block;
height: fit-content;
width: fit-content;
}

#logoimg{
width: 260px;
height: 100px;
}

nav ul {

list-style: none;
margin: 0;
padding: 0;
display: flex;
}

nav li {
margin-left: 20px;
}

nav a {
color: #333;
text-decoration: none;
font-weight: bold;
font-size: 16px;
text-transform: uppercase;
}

nav a:hover:not(.boton-encontra) {
color: #007bff;
}

.boton-encontra:hover{
  color: #000000;
}

.boton-encontra {
background-color: #007bff;
color: #fff;
padding: 10px 20px;
border-radius: 5px;
font-size: 16px;
text-transform: uppercase;
text-decoration: none;
}
/* body */

body{margin: 0px;
  background-color: #f2f2f2;

}

p{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 30px;
}

.intro {
  background-image: url("21960.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.intro h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.intro p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.boton-explorar {
  background-color: #ffffff;
  color: #333333;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-decoration: none;
  border: 2px solid #333333;
}

.boton-explorar:hover {
  background-color: #333333;
  color: #ffffff;
}

/* busqueda */
.busqueda {
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: 5rem;
}

.busqueda .container {
  max-width: 800px;
  margin: 0 auto;
}

.busqueda h1 {
  text-align: center;
}

.busqueda label {
  display: block;
  margin-bottom: 10px;
}

.busqueda select,
.busqueda button {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

.busqueda button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.busqueda button:hover {
  background-color: #0056b3;
}

/*consola */
.busqueda .console {
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  margin-top: 30px;
  font-family: Consolas, monospace;
  font-size: 14px;
}

/* chamuyo */
.chamuyos {
  background-color: #f2f2f2;
  padding: 4rem 0;
  text-align: center;
}

.chamuyos h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.chamuyo {
  margin-bottom: 4rem;
}

.chamuyo img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.chamuyo h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.chamuyo p {
  font-size: 1.2rem;
}

/* Clientes */
.clientes {
  background-color: #ffffff;
  padding: 4rem 0;
  text-align: center;
}

.clientes h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.cliente {
  margin-bottom: 4rem;
}

.cliente img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.cliente p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.cliente cite {
  font-style: italic;
  font-weight: 500;
}
/* Footer*/
#footer{
  height: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  margin-bottom: 2rem;
  width: 100%;
  bottom: 0%;
  display: flex;
  justify-content: space-between;
}
}

