#header {
background-color: #4ac0e7;
height: 100px;
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
position: fixed;
width: 100%;
top: 0%;
display: flex;
justify-content: space-between;
align-items: center;
}


.logo {
display: block;
height: fit-content;
width: fit-content;

}

#logoimg{
    width: 260px;
    height: 100px;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}

nav li {
margin-left: 20px;
}

nav a {
color: #333;
text-decoration: none;
font-weight: bold;
font-size: 16px;
text-transform: uppercase;
}

nav a:hover {
color: #007bff;
}

.btn-primary {
background-color: #007bff;
color: #fff;
padding: 10px 20px;
border-radius: 5px;
font-size: 16px;
text-transform: uppercase;
text-decoration: none;
}


body{margin: 0px;}
/*{
    border: solid rgb(0, 0, 0) 1px;
}
/**/
body{ background-color: lightgray;}


/* selector { propiedad : valor ; }*/
/* parrafo principal{ color: rgb(0, 34, 255)}

/* si la etiqueta html tiene un ID, le pongo un # en css.*/

.elemento{color: rgb(255, 0, 0);}

/* Si la etiqueta html tiene un class, le pongo . en css*/
#personalizar{color: #f3b229;}
#slogan{color: #f3b229;}
#slogan{font-size: 2vw;}
#titular{font-size: 5vw;}
#titular{color: #f3b229;}
#titular{font-family: 'Courier New', Courier, monospace;}
#titular{text-align: center;}
#primer_id{font-size: 1vw;}
#primer_id{font-family: Arial, Helvetica, sans-serif;}
p{color: #f3b229;}
p{font-family: Arial, Helvetica, sans-serif;}

#titular{padding-left: 10px;}
#titular{padding: 10px 0 0 10px;}
#primer_id{margin: 40px;}
p{margin: 20px 30px;}





.grid-container{
grid-template-areas: 
    'header header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
display: grid;
grid-template-columns: auto auto auto;
background-color: #007bff;
padding: 10px;
justify-content: center;
}
.grid{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    font-size: 30px;
}